<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="yamato_customer_tag" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Customer Tag</label>
            <tab>yamato</tab>
            <resource>Yamato_ApiMenu::configuration</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tags" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Tags</label>
                    <frontend_model>Yamato\CustomerTag\Block\Adminhtml\System\Config\Form\Field\Tag</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[ID must be number and unique.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
