<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\Api\StoreConfigManagerInterface">
        <plugin name="yamato_customer_tags_magento_storeconfigs_manager_plugin"
                type="Yamato\CustomerTag\Plugin\Store\StoreConfigManagerPlugin"
                sortOrder="5"
                disabled="false"
        />
    </type>
</config>
