<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Yamato\CustomerTag\Api\Data\TagInterface" type="Yamato\CustomerTag\Model\Entity\Tag"/>

    <!--<virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="customer_tags" xsi:type="string">sales_order.customer_tags</item>
            </argument>
        </arguments>
    </virtualType>-->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FilterApplierInterface">
        <plugin name="customerGridTagFilterPlugin"
                type="Yamato\CustomerTag\Plugin\CustomerGridTagFilterPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <plugin name="orderGridCustomerTagFilterPlugin"
                type="Yamato\CustomerTag\Plugin\OrderGridCustomerTagFilterPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>

</config>
